{% extends "main.html" %} {% block content %}
<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->

    <div>{%include 'base/components/browse.html'%}</div>

    <!-- Topics End -->

    <!-- Room List Start -->
    <div>
      <!-- <a href="{% url 'createRoom' %}">Create Room </a> -->

      {%include 'base/components/roomAvail.html'%}
    </div>

    <!-- Room List End -->

    <!-- Activities Start -->
    <div>{%include 'base/components/activity.html'%}</div>
    <!-- Activities End -->
  </div>
</main>

{% endblock content %}
